body {
    margin: 0;

}
div{
    width: 50px ;
    height: 50px;
    background-color: tomato;
    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: 50%;

    margin-left: -25px;
    margin-top: -25px;

    animation: color-shift 2s infinite alternate 3s ease-in-out;

    animation-name: color-shift, move-sideways, move-updown;
    animation-duration: 3s, 6s ;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 6s, 0s;
    animation-timing-function: ease-in-out;
}

div:hover{
    animation-play-state: paused;
}
@keyframes color-shift {
    0% {
        background-color: tomato;
    }
    25% {
        background-color: rgb(244, 248, 15);
    }
    50%{
        background-color: green;
    }
    75% {
        background-color: violet;
    }
    100% {
        background-color: blue;
    }
}
@keyframes move-sideways {
    0% {
        left: 75%;
    }
    50% {
        left: 25%;
    }
    100% {
        left: 75%;
    }
}
@keyframes move-updown {
    0% {
        top: 75%;
    }
    50% {
        top: 25%;
    }
    100% {
        top: 75%;
    }
}
@keyframes translate3d {
    0%{
        transform: translate3d(1);
    }
    25% {
        transform: translate3d(1,5);
    }
    50%{
        transform: translate3d(1, 5);
    }
    75% {
        transform: translate3d(5,1);
    }
    100%{
        transform: translate3d(1);
    }
}